*{

margin: 0;
padding: 0;

box-sizing: border-box;
border: 0;
}
body{
  font-size: 14px;
  text-align:right;
  color: #303030;
}
.contenir{
  width: 100%;
  height: 100vh;
  background-color: #303030;

}
.brgr{
height: 40px;
width: 40px;

position: relative;
right: 10px;
top: 10px;
align-items: center;
z-index: 10;
cursor: pointer;


}
.line{
  width: 20px;
  height: 3px;
  background-color: aliceblue;
  position: absolute;
   top: 20px;
   right: 10px;
}
.image{
width: 100%;
  height: 100vh;
  background-image: url(/12.jpg);
  align-items: center;
  background-size: cover;
}
.info{
  float: left;
  color: wheat;
  text-align: center;
  margin: 5px;
}
.text{
  position: relative;

  display: inline-block;
  top: 50%;
  right: 50%;
  text-align: center;
  border-radius: 10px;


}
.text h1{
 
 margin: 10px;
 color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.text a {
  margin: 30px;
  text-align: center;
  align-items: center;
   color: white;
   text-decoration: none;
   

}
.vrod{
  background-color: rgb(45, 28, 143);
  height: 50px;
  width: 110px;
  position: relative;
  right: 40px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}
.text p {
  margin: 10px;
  color: white;
  font-weight: bold;
  align-items: center;
  text-align: center;
  
  
}
.sidee{
  height: 100vh;
  width: 30%;
  background-color: rgb(68, 60, 60);
  position: absolute;
  top: 0;
  border-radius: 10px;
 

}
 .h2{
   color: white;
   margin-right: 50px;
   margin-top: 20px;
 }
 .kroj{
  width: 20px;
  height: 3px;
  background-color: aliceblue;
  float: left;
  position:relative;
   top: 20px;
   left:0;
  
   right: -10px;

 }
 .ss{
  position: absolute;
  top: 0;
  display: none;
 }
 .sss{
   height: 30px;
   width: 40px;
  
   float: left;
   top: 20px;
   left:0;
   cursor: pointer;
   right: -10px;
 }
 